.card{
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 5px 5px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin: 20px;
  text-align: center;
  max-width: 300px;
  display: inline-block;
}
.card img{
  width: 100%;
  border-radius: 10px;
}
.student-card{
  font-size: 18px;
  margin-top: 10px;
  display: inline-block;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  border-radius: 10px;
  border: 1px solid #ccc;
  padding: 20px;
  margin: 20px;
}